<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jimmy.dao.MessageMapper">

    <insert id="saveMessage" parameterType="message">
        INSERT INTO `message` (msg) VALUES (#{msg})
    </insert>


</mapper>